.container_contacto-contet{
    background-color: #014e75;
    margin: 0;
}

.container_contacto-title{
    margin-bottom: 5%;
}

.contacto__content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contacto__img{
    width: auto;
    height: 100px;
    cursor: pointer;
}

.contacto__title{
    text-align: center;
}

.contacto_logo{
    width: 160px;
    height: 130px;
    margin: 10px;
}