
.container__experiencia-contet{
    background-color: #014e75;
    margin: 0;
}

.container__experiencia-info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    
}
.container_portafolio-title{
    font-size: 32px;
    margin-bottom: 5px;
}

.experiencia__title{
    margin-bottom: 15px;
}

.experiencia__contet{
    margin-bottom: 8%;
}

.experiencia__logo{
    height: 100px;
    width: auto;
    margin: auto;
    display: block;
    backdrop-filter: blur(2px);
  }

  .experiencia__button{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  @media (max-width: 1310px) {
    .experiencia__title{
        height: 110px;
    }
}

@media (max-width: 1150px)  {
        .container__experiencia{
            height: auto;
        }
          
        .container__experiencia-info{
            flex-direction: column;
             gap: 80px;
        }
    
        .experiencia__title{
            margin-bottom: 0%;
            height: 75px;
            text-align: center;
        }
    
        .experiencia__contet{
            margin-bottom: 2%;
        }
    }
    

@media (max-width: 570px) {
 
      
    .experiencia__logo{
        height: 80px;
      }

    .experiencia__title{
        height: 100px;
    }
}

@media (max-width: 380px) {
    .experiencia__title{
        height: 140px;
    }

}