.container__portafolio{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.container_portafolio-contet{
    background-color: #014e75;
    margin: 0;
}

.portafolio__container{

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 50px;
}

.portafolio__contet{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
    padding-top: 20px;
    padding-left: 20px;
}
.portafolio__info{
    width: 500px;
}
.portafolio__title{
    text-align: center;
}
.portafolio__subtitle{
    margin-bottom: 50px;
    text-align: center;
}
.portafolio-subtitle-crud{
    margin-bottom: 20px;
    text-align: center;
}
.portafolio-subtitle-wiki{
    margin-bottom: 20px;
    text-align: center;
}
.portafolio-subtitle-clima{
    margin-bottom: 20px;
    text-align: center;
}
.portafolio__button{
    margin-top: 50px;
    margin-left: 250px;
}
.portafolio-button-crud{
    margin-top: 30px;
    margin-left: 250px;
}

.portafolio__cellPhone{
    height: 450px;
    padding-right: 20px;
}


 